.app {
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.appHeader {
    display: flex;
    align-items: center;
    padding: 1.5vmin;
}

.appHeader div:not(:first-child) {
    margin-left: 5vmin;
}

.headerText {
    font-size: 5vmin;
}

.appHeader .backButton {
    width: 12vmin;
    height: 7vmin;
    background-color: grey;

    border: 0;
    border-radius: 2vmin;

    font-size: 3.5vmin;
    color: white;

    outline: none;
}

.title {
    text-align: center;

    font-size: 2vmin;
}

.authorName {
    padding: 0 10%;

    position: absolute;
    top: 50%;
    margin-bottom: -50%;
    transform: translateY(-50%);
}

.imageContainer,
.albumCoverContainer {
    text-align: center;
    position: relative;
}

.albumCover,
.photo {
    width: 20vmin;
    border-radius: 0.5vmin;
}

.amountOfPhoto {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1vmin 2vmin;

    border-radius: 0.5vmin;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;
    text-align: center;
    font-size: 2vmin;
}