.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.popupWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.8);

    padding: 2vmin 0;

    display: flex;
}

.previousButton,
.nextButton {
    display: inline-block;

    width: 5vmin;
    background-color: rgba(255, 255, 255, 0.8);

    margin: 0 2vmin;

    background-image: url('./images/previous.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: containt;
}

.nextButton {
    transform: rotate(0.5turn);
}

.currentPhotoContainer {
    display: inline-block;
}

.currentPhoto {
    max-height: 76vh;
    max-width: 60vw;
}